<footer id="page-footer">
	<p>
    Copyright &copy; 2013
    <%= link_to 'The Pragmatic Studio', 'http://pragmaticstudio.com' %><br/>
	</p>
	<p>
    My first Ruby on Rails project<br/>
    Vinay Ankola
	</p>
</footer>